<header class="bg-black-90 fixed w-100 ph2 pv3 ph4-m ph5-l">
  <nav class="left--2-l left-0 relative" role="navigation">
    <a class="link dim white dib f6 ttu tracked" href="/" title="Home">{{ site.title }} Design System</a>
  </nav>
</header>
<section class="h2"></section>

<!-- <header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked" role="navigation">
    <a class="link dim white dib mr3" href="/" title="Home">{{ site.title }}</a>
  </nav>
</header> -->